<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="localSet">
        <property name="LOG_LEVEL" value="debug" />
        <property name="BASE_PATH" value=".." />
    </springProfile>
    <springProfile name="prodSet">
        <property name="LOG_LEVEL" value="info" />
        <property name="BASE_PATH" value="/devOooops-data/log/api/" />
    </springProfile>

    <property name="LOG_FILE_NAME" value="devOooops"/>

    <property name="LOG_PATTERN" value="%-5level %d{yy-MM-dd HH:mm:ss}[%thread] [%logger{0}:%line] - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <file>${BASE_PATH}/${LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${BASE_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
    </appender>

    <root>
        <springProfile name="localSet">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <springProfile name="prodSet">
            <appender-ref ref="FILE"/>
        </springProfile>
    </root>
</configuration>